table {
  border-collapse: collapse;
  background-color: aquamarine;
  height: 160px;
}
input {
  margin-left: -70px;
}
.input4 {
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  width: 50px;
  background-color: blue; /* Changed color to blue */
  color: white; /* Text color to white for better contrast */
}

.input4:hover {
  background-color: green; /* Changed hover color to green */
}
h1 {
  background: rebeccapurple;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffefef;
  border-radius: 5px;
}

.iput3 {
  background-color: rgb(10, 243, 10);
  border-radius: 4px;
}
.kq {
  color: red;
}
label {
  float: left;
  width: 100px;
  padding: 5px;
  text-align: left;
  margin-left: 45px;
}
section {
  clear: both;
  padding: 8px;
}
.khung {
  text-align: center;
  width: 450px;
  border-collapse: collapse;
  border-radius: 10px;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fd466b;
  -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
}
/* input:required {
  border-style: solid;
  border-width: 1px;
} */
/* 
input:valid {
  background-color: rgb(10, 243, 10);
}
input:invalid {
  background-color: rgb(250, 18, 18);
} */
h4 {
  background: rgb(237, 243, 73);
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffefef;
  border-radius: 5px;
}
